/*Header*/
*
{
font-family:American Typewriter, serif;
color:white;
}

input{
	color:black;
}

header
{
	display:flex;
	flex-direction:row;
	justify-content: space-between;
}

body 
{
	background-color:black;
	background-image:
	radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
	radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
	radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
	radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
	color: grey;
}

footer ul{
	display: grid;
	grid-auto-flow: column;
	grid-gap: 10px;
	list-style: none;
}

button{
	color: black;
}

.img_logo
{
	display:block;
	width:10em;
	height:5em;
}

.lien_co
{
	margin-top: 1em;
}

.lien_deco
{
	margin-top: 1em;
	margin-left:40em;
}

.lien_compte
{
	margin-top: 1em;
}

.ins_avatar
{
	display:block;
	margin-bottom:1em;
}


.contenu
{
	background-color: red;
	padding:20em;
}

.form_inscrip
{
	background-color: red;
	padding:20em;
}

.reset
{
	color:black;
}

.valider
{
	color:black;
}

.abon
{
	margin-bottom:1.5em;
	margin-top:1.5em;
}

.ins_contenu
{
	padding:0.5em;
}

.age_prof
{
	margin-right:4em;
}

.contenu_profil
{
	margin-bottom:0.7em;
}


.profils
{
	background-color:red;
}

#optionsProfil{
	padding-top: 2em;
	display: inline-block;
	justify-content: center;
	display: flex;
}

#autresOptions{
	display: flex;
	margin-top: 2em;
	padding-bottom: 2em;
	justify-content: center;

}

.img
{
	width:10em;
	height:10em;
}

.miniature {
	
	display: inline;
	width: 20em;
	
	border: 0.15em black groove;
}

.miniature a{

	display: inline;
	
	width: 320px;
	height: 180px;
	margin-left: 5%
}


h2 {
	text-align: center;
	border: 0.25em black groove;
	background-color: darkgrey;
	color: black;
}

.bouton_recherche{
	color: red;
	width:50em;
	margin-left:2em;
	border-radius : 15px;
	margin-top: 2em;
}

.resultatRecherche{
	margin-top: 10%;
}

#achatLocation{
	text-align: center;	
}

#achatLocation button{
	margin-top: 2em;
	margin-bottom: 2em;
	height: 2em;
	width: 10em;
}

#formCreerSeance{
	color : red;
	text-align: center;
	border-style: solid;
}

#formCreerSeance select {
	color : red;
}

#formCreerSeance option{
	color : black;
}






